.remove {
    color: red;
    text-transform: uppercase;
}

.remove:hover{
    color: rgb(238, 107, 107)
}

.article-title{
    opacity: 75%;
    text-shadow: 1px 1px 1px #42a5f5,
    3px 3px 5px blue;
}
