main {
  text-align: center;
}

nav {
  list-style: none;
}

div {
  text-align: center;
}

ul {
  list-style: none;
}

.nav-wrapper {
  text-align: right;
  margin: 0 -140px 0 0;
}

h3 {
  margin: 10px 0
}
