.user-profile {
    padding: 50px; 
}

#user-avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto;
   
}

.name {
    color: #1a237e;
}

/* p {
    margin: 10px 0 0 0;
    color: #1a237e;
    padding: 0 0 30px 0;
} */


.bio-info {
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 0 85px;
    margin: 10px 0 0 0;
    color: #1a237e;
    padding: 0 0 30px 0;
}


.profile-div {
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    min-width: 500px;
}

.userprofile-card {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    min-width: 500px;
    margin: 0 auto;
}